{# Use base.j2 template as a base and only provide values for placeholders
    in this file.
 #}
 {% extends "base.j2" %}
 
 {# Markdown main content block. #}
 {% block content %}

 Contact
==================================
 
- **mail**: [ismail.hrimech@gmail.com](mailto:ismail.hrimech@gmail.com)
- **Code**: [GitHub](https://github.com/ihrimech)
- **Social**: [LinkedIn](https://www.linkedin.com/in/ismail-hrimech-a677b164/)
- **Location**: Paris, France (Mobile in Europe)/ Remote


 Bienvenue sur la plateforme d'Ismail ! Passionné par Scala et Spark, je m'engage à partager mon expertise pour aider chacun à exploiter pleinement ces technologies dynamiques.

Avec 10 ans d'expérience en développement logiciel, dont 7 ans spécialisés en Scala et Spark, j'ai acquis une solide maîtrise de ces outils tout en les enseignant à d'autres.

En tant que formateur, je privilégie des expériences d'apprentissage captivantes et pratiques, combinant connaissances théoriques approfondies et applications pratiques pour une compréhension réelle des concepts.

Que votre organisation cherche à perfectionner ses développeurs ou à initier de nouveaux talents à Scala et Spark, je suis là pour vous accompagner à toutes les étapes. Avec mon expérience et ma passion pour l'enseignement, je suis déterminé à élaborer des programmes de formation efficaces, adaptés à vos besoins. Collaborons pour libérer le potentiel de Scala et Spark au sein de votre équipe !

-----------------------------------------------------------------------------------------------
 
 Welcome to Ismail's corner of the web! I'm passionate about Scala and Spark, and I'm dedicated to sharing my expertise and helping others unlock their potential in these exciting technologies.

 With 10 years of experience in software development, including 7 years specializing in Scala and Spark, I've had the privilege of working on a wide range of projects and honing my skills in these powerful frameworks. Throughout my journey, I've discovered the joy of not only mastering these technologies but also teaching others to do the same.
 
 As a trainer, I believe in creating engaging and practical learning experiences that empower students to thrive in their endeavors. My approach combines comprehensive theoretical knowledge with hands-on practice, ensuring that students not only understand the concepts but also feel confident applying them in real-world scenarios.

 Whether your organization seeks to enhance the skills of seasoned developers or empower newcomers to dive into Scala and Spark, I'm here to support your training initiatives every step of the way. With my extensive experience and passion for teaching, I'm committed to delivering engaging and effective training programs tailored to your organization's needs. Let's work together to unlock the full potential of Scala and Spark for your team!
 {% endblock %}
 
 Attributions
 ------------
 
 The [photo][0] used for part of the background.
 
 The [inspiration][1] came from vincentbernat
 
 [0]: https://unsplash.com/fr/photos/texte-multicolore-YlVjrBkfXt8?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash
 [1]: https://github.com/vincentbernat
 