{# Use base.j2 template as a base and only provide values for placeholders
   in this file.
#}
{% extends "base.j2" %}

{# Markdown main content block. #}
{% block content %}
Hello World
Bonjour 	ᕕ( ᐛ )ᕗ
======================

Welcome to my corner of the web! I'm Ismail Hrimech, a passionate Scala and Spark developer, dedicated to crafting elegant solutions and sharing knowledge. When I'm not immersed in the world of coding, you'll often find me with my family, hiking, or cuddling my cats. Let's code and conquer new heights together!

Bienvenue sur mon espace en ligne ! Je suis Ismail Hrimech, un développeur passionné de Scala et Spark, dédié à la création de solutions élégantes et au partage des connaissances. Lorsque je ne suis pas sur mon poste de dev, vous me trouverez souvent à explorer les joies de la vie de famille, la randonnée et les petits câlins avec mes chats. Ce que j'aime le plus ? 

Transmettre ! ٩( ๑╹ ꇴ╹)۶

[Me contacter par mail](mailto:ismail.hrimech@gmail.com)


Attributions:
------------
- <em>The [photo][0] used for part of the background.</em>
- <em>The [inspiration][1] came from vincentbernat</em>

[0]: https://unsplash.com/fr/photos/texte-multicolore-YlVjrBkfXt8?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash
[1]: https://github.com/vincentbernat

{% endblock %}